/*
-----------------------------------------------------------
ESTRUTURA BASE
-----------------------------------------------------------
***** ESTILOS GERAIS
***** DECLARAÇÃO DE VARIÁVEIS 
***** BODY
***** HEADER
***** FOOTER
***** PÁGINA INICIAL
***** @MEDIA - TORNAR SITE RESPONSIVO
***** EXTRAS
*/

/*   ESTILOS GERAIS   */
html, body, figure, img, div, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/*   DECLARAÇÃO DE VARIÁVEIS    */



/*   BODY   */



/*   HEADER   */



/*   FOOTER   */



/*   PÁGINA INICIAL   */



/*   @MEDIA - TORNAR SITE RESPONSIVO   */



/*   EXTRAS   */


